################################
###########  FILES  ############
################################
*.pptx
CMakeUserPresets.json

################################
########### FOLDERS ############
################################
build/
html/
# Add CMake build directories
cmake-build-*/

################################
############ IDE ###############
################################
# CLion
.idea/

################################
############ C/C++ #############
################################
# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ko
*.elf
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
*.smod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.i*86
*.x86_64
*.hex
*.app
*.stackdump
*.exe
*.out
# Linker output
*.ilk
*.map
*.exp
# Debug files
*.dSYM/
*.su
*.idb
*.pdb

################################
########### CMAKE ##############
################################
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

# Formatters
.clang-format
.clang-tidy
.gitattributes